<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
</head>
<body>
<h1>Create Category</h1>
<h3 th:if="${message!=null}" th:text="${message}">Message</h3>

<form th:action="@{/category}" th:object="${entity}" method="post">
    <p>
        <label for="name">Name:</label>
        <input type="text" th:field="*{name}" id="name" required>
    </p>
    <p>
        <label for="roles">Roles:</label>
        <select multiple="multiple" th:field="*{roles}" id="roles">
            <option th:each="role : ${allRoles}" th:value="${role}" th:text="${role.name}"></option>
        </select>
    </p>
    <p>
        <label for="categories">Categories:</label>
        <select multiple="multiple" th:field="*{categories}" id="categories">
            <option th:each="category : ${allCategories}" th:value="${category}" th:text="${category.name}"></option>
        </select>
    </p>
    <p>
        <input type="text" th:field="*{id}" id="id">
        <input type="submit" value="Save">
        <a th:href="@{/category}">Cancel</a>
    </p>
</form>

</body>
</html>
