### Repository.java.vm
#set($entityName = $class.getSimpleName())
package generated.controller;

import ${class.getCanonicalName()};
import generated.model.${entityName};
import generated.service.${entityName}Service;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;

import java.util.List;
import java.util.Set;


@Controller
@RequestMapping(${entityName}Controller.CURRENT_ADDRESS)
public class ${entityName}Controller extends AbstractController<${entityName}, ${entityName}Service> {
    public static final String CURRENT_ADDRESS = "/${entityName.toLowerCase()}";
    private final ${entityName}Service service;

    public ${entityName}Controller(${entityName}Service service, String address) {
        super(service, address);
        this.service = service;
    }
}