#set($entityName = $class.getSimpleName())
#set($entityNameLowerCase = $entityName.toLowerCase())
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View ${entityName}</title>

    #[[<head th:replace="~{/commons/head :: head}"></head>]#
</head>
<body>

#[[<div th:replace="~{/commons/header :: header}"></div>]]#

<div class="container mt-5">
<h1>${entityName} Details</h1>
#[[<h3 th:if="${message != null}" th:text="${message}" class="text-center alert-info">Message</h3>]]#
<table class="table table-bordered">
    #foreach($field in ${class.getDeclaredFields()})
    #set($fieldName = $field.getName())
    #set($fieldType = $field.getType().getSimpleName())
    <tr>
        <th>${field.getName()}:</th>
        #if(${fieldType.equals("List")} || ${fieldType.equals("Set")})
        #set($paramType = ${field.getGenericType().toString().replaceAll(".*<(.*?)>", "$1")})
        <td>
            <ul>
                <li th:each="${field.getName()}#[[_item : ${entity.]]#${field.getName()}#[[}" th:text="${]]#${field.getName()}#[[_item}"></li>]]#
            </ul>
        </td>
        #else
        #[[<td th:text="${entity.]]#${field.getName()}}"></td>
        #end
    </tr>
    #end


</table>
<br>
<a th:href="@{/${entityNameLowerCase}}" class="btn btn-secondary">Back to the List</a>
#[[<a th:href="@{/]]#${entityNameLowerCase}#[[/edit/{id}(id=${entity.id})}" class="btn btn-primary">Edit</a>]]#
#[[<form th:if="${entity.id!=null}" method="get"]]# th:action="'/${entityNameLowerCase}/' #[[+ ${entity.id} + '/delete'" class="d-inline">]]#
    <input type="submit" value="Delete" onclick="return confirm('Are you sure?')" class="btn btn-danger">
</form>
</div>

#[[<div th:replace="~{/commons/footer :: footer}"></div>]]#
#[[<div th:replace="~{/commons/script :: script}"></div>]]#
</body>
</html>
